<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="ljc.movie_manage.mapper.CinemaMapper">
    <resultMap id="CinemaResultMap" type="ljc.movie_manage.entity.Cinema">
        <!-- 其他字段映射... -->
        <result column="hall_types" property="hallTypes"
                typeHandler="com.baomidou.mybatisplus.extension.handlers.JacksonTypeHandler"/>
    </resultMap>

</mapper>
